$dark: rgba(35, 35, 35, 1);
$ui-error: rgba(219, 12, 53, 1);
$ui-disabled: rgba(210, 210, 210, 1);
$ceramic: rgba(198, 153, 120, 1);
$ui-active: rgba(217, 217, 217, 1);
$light: rgba(250, 250, 250, 1);
